<head>
        <title>WeTube</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/javascripts/helpers.js"></script>
        <script src="/javascripts/gatherings.js"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/profile.js"></script>
        <script src="/javascripts/users.js"></script>
        <script src="/javascripts/import.js"></script>

</head>
