<header>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <a href="/logout" id="logout-link" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out" style="width:20%" ></span> Log out</a><br><br>
    <br><br>
    <img id="logo" src="/images/ColorMusic.gif"/> 
    <a href="/"><img id="logo" src="/images/WeTubeLogo.png"/></a>
    <img id="logo" src="/images/ColorMusic.gif"/> 
    
</header>
