<header>
    <img id="logo" src="/images/ColorMusic.gif"/> 
    <img id="logo" src="/images/WeTubeLogo.png"/> 
    <img id="logo" src="/images/ColorMusic.gif"/> 
    <a href="/logout" id="logout-link">Logout</a>
</header>
