<head>
        <title>WeTube</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/helpers.js"></script>
        <script src="/javascripts/gatherings.js"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/profile.js"></script>
        <script src="/javascripts/users.js"></script>
</head>