<!DOCTYPE html>
<html>
    <div align = "center">
    <% include partials/head %>
    <div class="content-box" style="width:70%">
    <body>
        <% include partials/header %>
        <h1>Create a Gathering! </h1><br>
            <div> * Key : <input type="text" id="key"> </input></div><br>
			<div> * Name of Your Gathering: <input type="text" id="gatheringName"> </input></div>
        <button class="btn btn-default" id="create-gathering-btn">Create!</button> 
        <br><br>
        <img id="defaultGathering" src="/images/DefaultGathering.jpg" height = "150"/>
        <div><br> <button class="btn btn-default" id="back-main-btn">Back to Main Page</button></div>
    </body>
</div>
</div>
</html>