<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Create a Gathering! </h1>

            <div> Shoutkey : <%=shoutkey %> </div>
			<div> Name : <input type="gatheringName"> </input></div>

        <br>
        <img id="defaultGathering" src="/images/DefaultGathering.jpg" height = "150"/> 
        <br><br>
        <button id="create-gathering-btn">Create!</button>
    </body>
</html>