<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Create a Gathering! </h1>

            <div> Key : <div id="key"><%=key %></div></div>
			<div> Name : <input type="text" id="gatheringName"> </input></div>

        <br>
        <img id="defaultGathering" src="/images/DefaultGathering.jpg" height = "150"/> 
        <br><br>
        <button id="create-gathering-btn">Create!</button> 
        <br><br>
        <div> <button id="back-main-btn">Back to Main Page</button></div>
    </body>
</html>