<!DOCTYPE html>
<html>
<div id="content-box">
      <div align = "center">
    <% include partials/head %>
    <head>
        <div align = "center">
        <title>WeTube</title>
        <img id="logo" src="/images/ColorMusic.gif"/> 
        <img id="logo" src="/images/WeTubeLogo.png"/> 
        <img id="logo" src="/images/ColorMusic.gif"/> 
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/helpers.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>

    <body>
		<h1>Whoops! Sorry!</h1>
		<h2><%=error%></h2>

		<button class="btn btn-default" id="back-main-btn"> Return to Main Page</button>
    </body>
</div>
</html>


