<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>My Gathering</h1>
        <div class="error"></div>
        <div id="queuedSongs">
            <h3>Queued Songs</h3>
            //TODO: REPLACE WITH USING EJS TO LIST ALL SONGS
            <p>Shut Up and Dance</p>
        </div>
          
        <div id="gatheringMembers">
            <h3>People in this gathering:</h3>
            <p>Alice</p>
            <p>Bob</p>
        </div>
    </body>
</html>