<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>My Gathering</h1>
        <img id="defaultGathering" src="/images/DefaultGathering.jpg" height = "150"/> 
        <p>Host:</p>
        <p># Boos:</p>
        <div class="error"></div>
        
        <div id="queuedSongs">
            <h3>Queued Songs</h3>
            //TODO: REPLACE WITH USING EJS TO LIST ALL SONGS
        </div>
          
        <div id="gatheringMembers">
            <h3>Members of this gathering:</h3>
            <p>Alice</p>
            <p>Bob</p>
        </div>
        
        <button id="view-members-btn">View Members</button><br>
        <button id="view-playlist-btn">View Playlist</button>
        <p>Next Song:</p>
    </body>
</html>