<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/users.js"></script>
    </head>

    <div class="content-box">
    <body>
        <header>
            <% include partials/header %>
            
            <h3>Welcome, <%=currentUser %>! </h3>

            <button id="profile-btn"> My Profile <br>
            
            <% if (isHost) { %>
            <button id="mygathering-link"> My Gathering  <br>
            <% } else{ %>  
            <button id="create-gathering-link"> Create Gathering  <br>
            <% } %>
            <button id="findgathering-btn"> Join Gathering <br>

        </header>
    



    </body>
    </div>
</html>