<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/users.js"></script>
    </head>
    
    <body>
        <header>
            <% include partials/header %>
            <h3>Welcome, <%=currentUser %>! </h3>
            <button id="profile-btn"> My Profile</a> <br>
            <button id="gatherings-btn"> My Gathering </a> <br>
            <button id="joingathering-btn"> Join Gathering </a> <br>
        </header>



    </body>
</html>