<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <div align = "center">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/users.js"></script>
        

    <div class="content-box">
    <body>
        <div class="container">
            
        <header>
            <% include partials/header %>
            
            <h3>Welcome, <%=currentUser %>! </h3>

            <button class="btn btn-default" id="profile-btn"> My Profile <br>
            
            <% if (isHost) { %>
            <button class="btn btn-default" id="mygathering-link"> My Gathering  <br>
            <% } else{ %>  
            <button class="btn btn-default" id="create-gathering-link"> Create Gathering  <br>
            <% } %>
            <button class="btn btn-default" id="findgathering-btn"> Join Gathering <br>

        </header>
    



    </body>
    </div>
</html>