<!DOCTYPE html>
<html>
    <% include partials/head %>
    <div class="content-box">
    <head>
        <div align = "center">
        <img id="logo" src="/images/ColorMusic.gif"/> 
        <img id="logo" src="/images/WeTubeLogo.png"/> 
        <img id="logo" src="/images/ColorMusic.gif"/> 
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/helpers.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>


    <body>
        
        <form id="login-form">
            <br>
            <div>Username:  <input type="text" name="username" required /></div> <br>
            <div>Password:  <input type="password" name="password" required /></div><br>
            <div class="error"></div>
            <input type="submit" />
        </form>

        <p>Don't have a WeTube account? <a href="/account"> Register now!</a></p>

    </body>
    </div>
</html>
