<!DOCTYPE html>
<html>
<div id="content-box">
      <div align = "center">
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Whoops!	</h1>
		<p>There's no active gathering with key <%=key %>!</p>
        <div class="error"></div>            
        <button id="back-main-btn">Back to Main Page</button>
    </body>
</div>
</html>