<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Join Gathering</h1>
        
        <p>GatheringID:</p>
            <input type="text" id="search-shoutkey-input"> 
            <button id="search-shoutkey-btn">Join</button>
        <div id="search-results">
        </div>
    </body>
</html>