<!DOCTYPE html>
<html>
<div id="content-box">
    <div align = "center">
    <div class="content-box">
    <% include partials/head %>
    <body>
        <% include partials/header %>
        <h1>Join a Gathering!</h1><br>
            <div> <b>* Key: </b><input type="text" id="key"> </div>
            <button class="btn btn-default" id="joingathering-btn">Join! </button><br>
            <img id="defaultGathering" src="/images/joinGathering.png" height = "150"/><br><br>
            <button class="btn btn-default" id="back-main-btn">Back to Main Page</button>
        </div>
    </body>
</div>
</html>