<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Join a Gathering!</h1>

            <div> Shoutkey: <input type="text" id="shoutkey"> </div>
            <div> <button id="joingathering-btn">Join</button></div>

    </body>
</html>