<!DOCTYPE html>
<html>
<div id="content-box">
      <div align = "center">
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Join a Gathering!</h1>

            <div> Key: <input type="text" id="key"> </div><br>
            <div> <button id="joingathering-btn">Join</button></div><br>
            <div> <button id="back-main-btn">Back to Main Page</button></div>
    </body>
</div>
</html>