<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Join a Gathering!</h1>

            <div> Key: <input type="text" id="key"> </div>
             <button id="joingathering-btn">Join</button><br>
            <button id="back-main-btn">Back to Main Page</button>
    </body>
</html>