<!DOCTYPE html>
<html>
<div id="content-box">
      <div align = "center">
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <div class="content-box">
        <h1>Join a Gathering!</h1>
        
            <div> Key: <input type="text" id="key"> </div>
             <button id="joingathering-btn">Join</button><br>
            <button id="back-main-btn">Back to Main Page</button>
        </div>
    </body>
</div>
</html>