<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <div class="error"></div>
        <form id="login-form">
            <div>Username: <input type="text" name="username" required /></div>
            <div>Password: <input type="password" name="password" required /></div>
            <input type="submit" />
        </form>
        <p>Don't have an account yet?<a href="#" id="register-btn"> Register here!</a></p>
    </body>
    </body>
</html>