<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Members of <%=gatheringName %></h1>
        <p>Host: <%=host %></p>
        <p>Members:</p>
		<ul>
			<% for(var i=0; i<members.length; i++) {%>
			   <li><%=members[i] %></li>
			<% } %>
		</ul>
        <div class="error"></div>            
        <button id="back-main-btn">Back to Gathering</button>
    </body>
</html>