<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>List of Members</h1>
        <p>Members in //GROUPNAME:</p>
        <p>Host:</p>
        <p>Members:</p>
        <p>Alice</p>
        <p>Bob</p>
        <div class="error"></div>            
        <button id="back-gathering-btn">Back to Gathering</button>
    </body>
</html>