<!DOCTYPE html>
<html>
<div id="content-box">
    <% include partials/head %>
          <div align = "center">

    <body>
        <% include partials/header %>
        <h1>Members of <%=gatheringName %></h1>
        <p>Host: <%=host %></p>
        <p>Members:</p>
		<ul>
			<% for(var i=0; i<members.length; i++) {%>
			   <li><%=members[i] %></li>
			<% } %>
		</ul>
        <div class="error"></div>            
        <button class="btn btn-default" id="mygathering-link">Back to Gathering</button>
    </body>
</div>
</html>