<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>Current Playlist</h1>
        <p>Playlist for //GROUPNAME:</p>
        <p>Current:</p>
        <p>Next-up:</p>
        <div class="error"></div>            
        <button id="back-gathering-btn">Back to Gathering</button>
    </body>
</html>