<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/helpers.js"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/register.js"></script>

    </head>
    <body>
        <img id="logo" src="/images/WeTubeLogo.png"/> 
        <p>Create a new account with WeTube and start listening today! </p>
        <div class="error"></div>
        <form id="register-form">
            <div>Name: <input type="text" name="rname" required /></div><br>
            <div>Username: <input type="text" name="username" required /></div><br>
            <div>Password: <input type="password" name="password" required /></div><br>
            <div>Confirm password: <input type="password" name="confirm" required /></div><br>
            <input type="submit" />
        </form>
        <p>Done registering? Back to <a href="/"> login page! </a></p>
    </body>
</html>
