<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>My Music Profile</h1>
        <div class="error"></div>
        <div id="likedSongs">
            <h3>Songs I Like</h3>
            //TODO: REPLACE WITH USING EJS TO LIST ALL SONGS
            <p>Shut Up and Dance</p>
        </div>
        
        <p>Add a song you like:</p>
            <input type="text" id="search-song-input">
            <button id="search-song-btn">Search for Song</button>
        <div id="search-results">
        </div>
        
    </body>
</html>