<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1>My Music Profile</h1>
        <div class="error"></div>
        <div id="likedSongs">
            <h3>Songs I Like</h3>
            //TODO: REPLACE WITH USING EJS TO LIST ALL SONGS
            <p>Shut Up and Dance</p>
        </div>
        
        <button id="Add Song">Add Song</button>
        
    </body>
</html>