<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1><%=currentUser %>'s Profile</h1>
        <img id="defaultProfile" src="/images/DefaultProfile.png" height = "180"/> 
        <div class="error"></div>
        <div id="mySongs">
            <h3>My Songs</h3>
            
            <% if(songs.length > 0){ %>
               <ol>
                    <% for(var i=0; i<songs.length; i++) {%>
                       <li><%= songs[i].title %> by <%= songs[i].artists %></li>
                    <% } %>
                </ol>
             <% } else{ %>  
               <h3>No liked songs yet!</h3>
            <% } %>
        </div>
        
        <p>Add a Song!</p>
            <div> Title : <input type="text" id="search-song-input"> </div>
            <div> <button id="search-song-btn">Search for Song</button></div>
        <div id="search-results">
        </div>
    </body>
</html>